{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'main.css'%}" rel="stylesheet">
</head>
<body>
    {% for category in categories %}
        <h2>{{ category.name }}</h2>

        {% for column in category.columns %}
            <div class="col">
                {% for block in column %}
                    {% for item in block %}<div class="item">{{ item }}</div>{% endfor %}
                    <br>
                {% endfor %}
            </div>
        {% endfor %}
        <div style="clear: both"></div>
    {% endfor %}
</body>
</html>
